.nav {
    padding-right: 1.8rem;
}
.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    letter-spacing: .3rem;
    padding: 1.2rem .7rem;
    margin: 1.2rem .7rem;
    cursor: pointer;
    color: #333333;
}

.about {
    padding: 1.2rem .8rem ;
} 