<nav class="navbar navbar-toggleable-md navbar-light">
  <a class="navbar-brand">MICHAEL COMILANG</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" (mouseleave)="toggleFalse()">
        <a class="nav-link" (click)="toggleTrue()" (mouseover)="toggleTrue()" [@menuState]="stateOfMenu">Projects</a>
        <div class="sub-menu" *ngIf="stateOfToggle" @submenuState>
          <a class="nav-link" @submenuState>Personal Projects</a>
          <a class="nav-link" @submenuState>Freelance</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>