nav {
    transition: 300ms ease-out;
}

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 8px;
    cursor: pointer;
    color: #555555;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out;
}
.navbar-brand:hover {
    color: #888888;
}


.sub-menu {
    position: absolute;
    z-index: 3;
    background-color: #FEFEFE;
    border-radius: 2px;
    margin-top: -2px;
}

.navbar-nav {
    margin-left: 40px;
}



h1 {
    font-size: 18px;
    color: #FEFEFE;
    cursor: pointer;
}

.nav-link-navigate {

    margin: 0 40px 0 0;
    padding: .2em 1.2em;  
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    letter-spacing: .1em;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #f7f7f7;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
}

.nav-link-navigate:hover {
    background-color: #FEFEFE;

    border-top: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
        transform: translate(0, -10%);
    
}

.current {
    background-color: #FEFEFE;
    border-top: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;

}

.contrast {
    color: #FEFEFE;
}

.contact:hover {
    background-color: #FEFEFE;
}