<nav class="navbar navbar-toggleable-md fixed-top navbar-light">
  <a class="navbar-brand" scrollTo href="#home">MICHAEL COMILANG</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link resume" scrollTo href="#about">About Me</a>
      </li>
      <li class="nav-item" (mouseleave)="toggleFalse()">
        <a class="nav-link" (click)="toggleTrue()" (mouseover)="toggleTrue()" scrollTo href="#portfolio" [ngStyle]="{backgroundColor: stateOfToggle ? '#FEFEFE' : ''}">Portfolio</a>
        <div class="sub-menu" *ngIf="stateOfToggle" @submenuState>
          <a class="nav-link" @submenuState scrollTo href="#personal">Personal Projects</a>
          <a class="nav-link" @submenuState scrollTo href="#freelance">Freelance</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link resume" routerLinkActive="active" scrollTo href="#resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link contact" routerLinkActive="active" scrollTo href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>