/*nav {
    transition: 300ms ease-out;
}

.navbar-brand{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 8px;
    cursor: pointer;
    color: #fafbfe;
}

.faded {
    background-color: #fafbfe;
}

.sub-menu {
    position: absolute;
    z-index: 3;
    background-color: #FEFEFE;
    border-radius: 2px;
    margin-top: -2px;
}

.navbar-nav {
    margin-left: 40px;
}

.nav-link {
    margin: 0 40px 0 0;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

h1 {
    font-size: 18px;
    color: #FEFEFE;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #FEFEFE;
}

.contact:hover {
    background-color: #FEFEFE;
}*/