.container-box {
    height: 100vh;
}

.overlay {
    background: #FEFEFE;
    /*margin: 0 auto;*/
    padding: 5rem 5rem 4rem 5rem;
    margin: 0 auto;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}   

.introductory-text {
    color: #555555; /*#FEFEFE; */
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 0;
}

.first-line {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.spaced {
    letter-spacing: .2rem;
}

.call-to-action {
    color: #777777; ;/*#ECF0F1;*/
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding-top: 1.2rem;
    margin: 0;
    text-align: right;
    cursor: pointer;
}

.call-to-action:hover {
    color: #000000;
}

@media (max-width: 575px) {
    .overlay {
        padding: 2rem 2rem 1rem 2rem;
    }   

    .introductory-text {
        font-size: 1.7rem;
        line-height: 2.2rem;
        margin-bottom: 0;
    }

    .first-line {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .spaced {
        letter-spacing: .1rem;
    }

    .call-to-action {
        font-size: 1rem;
        padding-top: 1rem;
        margin: 0;
        text-align: right;
        cursor: pointer;
    }

 }