<div class="container-box"
            [@backgroundState]="backgroundState"
            (@backgroundState.done)="animationDone($event)"
    >
    <div class="overlay"
        [@overlayState]="overlayState"
        (@overlayState.done)="animationDone($event)"
        >
            <div
            [@contentState]="contentState"
            (@contentState.done)="animationDone($event)">
                <h1>"Hello, I'm a web developer based in the <abbr title="attribute">San Francisco, Bay Area</abbr>"</h1>
            </div>      
    </div>
</div>