:host {
    display: block;
    /*background: url('https://source.unsplash.com/4FGB28Jyy-Q');*/
}

.container {
    background-color: rgba(255, 255 , 255, 0.4);
    height: 100vh;
    padding-top: 50px;
}

h1 {
    margin: 0 auto;
}

/*ZPQE4XssoBc*/