.container-box {
    height: 100vh;
}

.overlay {
background: #2B32B2;  /* fallback for old browsers */
    margin: 0 auto;
    padding: 2.5rem;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}   

h1 {
    color: #FEFEFE;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    color: #ECF0F1;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: right;
}