<div class="container-box"
            [@backgroundState]="backgroundState"
            (@backgroundState.done)="animationDone($event)"
    >
    <div class="overlay"
        [@overlayState]="overlayState"
        (@overlayState.done)="animationDone($event)"
        >
            <div
            [@contentState]="contentState"
            (@contentState.done)="animationDone($event)">
                <h1 class="introductory-text first-line"><span class="spaced">Hello</span>, my name is <span class="name">Michael</span>.</h1>
                <h1 class="introductory-text">I help <strong>build web assets.</strong></h1>
                <h1 class="introductory-text">I'm a <em>web developer</em> based in the San Francisco, Bay Area.</h1>
                <p class="call-to-action" (click)="navigate('portfolio')">Please check out my work. <span [style.opacity]="opacity">|</span></p>
            </div>      
    </div>
</div>