<div class="container-box"
            [@backgroundState]="backgroundState"
            (@backgroundState.done)="animationDone($event)"
    >
    <div class="overlay"
        [@overlayState]="overlayState"
        (@overlayState.done)="animationDone($event)"
        >
        <div
        [@contentState]="contentState"
        (@contentState.done)="animationDone($event)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <p><span (click)="open('https://github.com/micustudio')">check out my work on github <img src="/assets/images/github-icon.svg"></span></p>
                        <p><span (click)="open('https://drive.google.com/open?id=0B3l9y_jTYg_aTzBldlNDR3RjVlE')">view my resume on drive <img src="/assets/images/google-drive.svg"></span></p>
                        <p><span (click)="open('https://www.linkedin.com/in/michael-reyes-comilang-a6b835118/')">add me on linkedin <img src="/assets/images/linkedin.svg"></span></p>
                        <h1>or send me a messsage:</h1>
                        <div *ngIf="emailGood()" class="email-good">Thanks! I will check out your message.</div>
                        <form [formGroup]="myForm" (ngSubmit)="submitContactForm()">
                            <div class="form-group">
                                <input
                                    #input
                                    placeholder="name"
                                    type="text"
                                    id="name"
                                    class="form-control"
                                    formControlName="name">
                            </div>
                            <div class="form-group">
                                <input 
                                    placeholder="email"
                                    type="email"
                                    id="email"
                                    class="form-control"
                                    formControlName="email">
                            </div>
                            <div class="form-group">
                                <textarea 
                                    cols="40" 
                                    rows="7"
                                    placeholder="message"
                                    id="message"
                                    class="form-control"
                                    formControlName="message">
                                > 
                                </textarea>     
                            </div>
                            <button
                                    class="btn btn-primary" 
                                    type="submit"
                                    [disabled]="!myForm.valid">Go
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>