.container-box {
    height: 100vh;
    background: #2c3e50;
}

.overlay {
    padding-top: 7.2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #FEFEFE;
    font-size: 2.5rem;
    margin-bottom: 0rem; 
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    color: #FEFEFE;
}

p {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    letter-spacing: 3px;
    color: #F4F4F4;
    margin-top: 12px;
}

button {
    cursor: pointer;
}