.container-box {
    height: 100vh;
}

.overlay {
    background: gray;
    margin: 0 auto;
}

.card {
    margin-bottom: 25px;
}

.card-img-wrap {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    }

.card-img-top {
    position: absolute;
    object-fit: cover;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto; 
    height: auto;
    width: auto;
    }


h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #FEFEFE;
    font-size: 3em;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    color: #FEFEFE;
}

p {
    font-size: 12px;
    font-style: italic;
    letter-spacing: 2px;
    color: #444444;
    margin-top: 12px;
}