<div class="contain-me"
            [@backgroundState]="backgroundState"
            (@backgroundState.done)="animationDone($event)"
    >
    <div class="splash">
            <div class="container"
            [@contentState]="contentState"
            (@contentState.done)="animationDone($event)">
                <h1>FULL-STACK WEB DEVELOPER</h1>
                <h3>Designer, Builder & Creator</h3>
                <p>Based in the San Francisco, Bay Area</p>
            </div>      
    </div>
</div>